fastapi
uvicorn
motor
pydantic[email]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
resend
boto3
pandas
google-generativeai
jinja2
stripe
tqdm
rich
typer
watchfiles
websockets
yarl
zipp
